version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: app
      args:
        VITE_API_URL: /api
        VITE_WS_URL: ${VITE_WS_URL}
    container_name: thesis-front
    ports:
      - '5123:80'
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    networks:
      - thesis-network
    restart: unless-stopped

networks:
  thesis-network:
    driver: bridge
